h1{
       font-size: 80px;
       color: yellow;
}
img{
       height:400px;
       width: auto;
}

#especial2{
		font-size:36px;
        	color:#ffffff;}

#special{
        font-size:50px;
        color: ffffff;
}
body{
  background-color: #8c42f4;
}
